@page "/start"

<h3>Start</h3>

<FutterautomatComponent FutterautomatId=1></FutterautomatComponent>
<FutterautomatComponent FutterautomatId=2></FutterautomatComponent>
<FutterautomatComponent FutterautomatId=3></FutterautomatComponent>
<FutterautomatComponent FutterautomatId=4></FutterautomatComponent>

@code {

}
