
<div class="container-fluid; border border-primary">
    <div class="row">
        <div class="col-2">
            <FutterautomatButtonComponent></FutterautomatButtonComponent>
        </div>
        <div class="col">
            <FutterautomatStatsComponent></FutterautomatStatsComponent>
        </div>
    </div>
</div>



@code {

}
