<button type="button" class="btn btn-primary" @onclick="OnButtonClicked" style="color:@color">Futterautomat<br />@Id</button>

@code {
    [CascadingParameter(Name = "FutterautomatId")]
    public int Id { get; set; }

    private string color = "black";

    private void OnButtonClicked()
    {


        Console.WriteLine($"Button wurde geklickt!");
        color = "white";
    }


}
