@page "/aquariumverwaltung"

@using FutterautomatenDatenbank.Models
@rendermode InteractiveServer
@inject IFutterautomatenEFCoreRepository futterautomatenEFCoreRepository
@inject NavigationManager navigationManager



<h3>Aquariumverwaltung</h3>
<table class="table table-striped">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        @if (aquarien is not null && aquarien.Count > 0)
        {
            foreach (var a in aquarien)
            {
                <tr>
                    <td>
                        <button class="btn btn-primary">@a.Name</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick=@(()=>navigationManager.NavigateTo($"/neuesaquarium/update/{a.AquariumId}"))>Edit</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" @onclick=@(() => DeleteAquarium(a.AquariumId))>Löschen</button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<br />
<button class="btn btn-primary" @onclick=@(() => navigationManager.NavigateTo("/neuesaquarium"))>Neues Aquarium</button>
@if (IsFehler)
{
    <div class="row">
        <div class="col-12">
            <textarea style="color:red; width:100%; height:300px;">@FehlerLabel</textarea>
        </div>
    </div>
}



@code {
    /// <summary>
    /// Die verfügbaren Aquarien
    /// </summary>
    List<Aquarium> aquarien;

    /// <summary>
    /// Wenn fehlerhafte Eingabe
    /// </summary>
    public bool IsFehler { get; set; }
    /// <summary>
    /// Fehlerbeschreibung
    /// </summary>
    string FehlerLabel = "Ein Futterautomat verweist noch auf dieses Aquarium!";


    protected override void OnInitialized()
    {
        aquarien = futterautomatenEFCoreRepository.GetAquarien();
    }

    /// <summary>
    /// Löscht ein Futter
    /// </summary>
    /// <param name="aquariumId"></param>
    private void DeleteAquarium(int aquariumId)
    {
        bool isAquariumRef = futterautomatenEFCoreRepository.GetFutterautomaten().Any(f => f?.Aquarium?.AquariumId == aquariumId);

        if (isAquariumRef)
        {
            IsFehler = true;
            return;
        }
        futterautomatenEFCoreRepository.DeleteAquarium(aquariumId);
        aquarien = futterautomatenEFCoreRepository.GetAquarien();
    }

}
