
<div class="row">
    <div class="col-1" style="width:170px; height:80px; align-content:center">
        <button type="button" class="btn btn-primary">Futterautomat @FutterautomatId </button>
    </div>
    <div class="col col">Hier stehen Daten zum Futterautomaten</div>


</div>


@code {

    [Parameter]
    public int FutterautomatId { get; set; }

}
