@page "/einstellungen"

@inject NavigationManager navigationManager
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>Einstellungen</h3>

<br />
<table class="table table-striped">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><button class="btn btn-primary" @onclick=@(() => navigationManager.NavigateTo("/futterverwaltung"))>Futterverwaltung</button></td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary" @onclick=@(() => navigationManager.NavigateTo("/aquariumverwaltung"))>Aquariumverwaltung</button>
            </td>
        </tr>
    </tbody>
</table>

@code {

}
