@page "/neuerfutterautomat"

@rendermode InteractiveServer
@inject IFutterautomatenEFCoreRepository FutterautomatenEFCoreRepository

@using FutterautomatenDatenbank.Context
@using FutterautomatenDatenbank.Models

<h3 class="text-center">Neuen Futterautomat erstellen</h3>

<form>
    <div class="form-group">
        <label for="faktorFuetterungen">Faktor Fütterungen</label>
        <input type="number" class="form-control" id="faktorFuetterungen" value="1">
    </div>
    <br />
    <div class="form-group">
        <label for="exampleFormControlSelect1">Aquarium</label>
        @if(aquarien is not null && aquarien.Count > 0)
        {
            <select class="form-control" id="exampleFormControlSelect1">
                @foreach (var aquarium in aquarien)
                {
                    <option value="@aquarium.Name"></option>
                }
            </select>
        }
        else
        {
            <button type="button" class="btn-primary">Neues Aquarium</button>
        }

    </div>

    <br /><br />
    <button type="button" class="btn-primary">Speichern</button>
</form>

@code {
    private List<Aquarium>? aquarien;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            aquarien = FutterautomatenEFCoreRepository.GetAquarien();
            StateHasChanged();
        }
    }

}
